<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Add book</title>
</head>
<body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
    <div class="container">
        <form method="post" action="#" th:action="@{/books/add}" th:object="${bookDTO}">
            <h1 class="mt-5">Add new book</h1>
            <p class="lead">Fill book details below:</p>
            <div class="form-group">
                <label for="title-input">Title:</label>
                <input id="title-input" class="form-control" type="text"
                       placeholder="Input book title here" th:field="*{title}"
                       th:classappend="${#fields.hasErrors('title')? 'is-invalid' : ''}"/>
                <div class="invalid-feedback" th:errors="*{title}">
                    Looks bad!
                </div>
            </div>

            <div class="form-group">
                <label for="author-input">Author:</label>
                <select id="author-input" class="form-control" th:field="*{authorId}"
                        th:classappend="${#fields.hasErrors('authorId')? 'is-invalid' : ''}">
                    <option th:value="0" selected>Please select...</option>
                    <option th:each="author : ${authors}" th:value="${author.id}"
                            th:text="${author.firstName} + ' ' + ${author.lastName}">
                        Author
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{authorId}">
                    Looks bad!
                </div>
            </div>

            <div class="form-group">
                <label for="genre-input">Genre:</label>
                <select id="genre-input" class="form-control" th:field="*{genreId}"
                        th:classappend="${#fields.hasErrors('genreId')? 'is-invalid' : ''}">
                    <option th:value="0" selected>Please select...</option>
                    <option th:each="genre : ${genres}" th:value="${genre.id}"
                            th:text="${genre.genre}">
                        Genre
                    </option>
                </select>
                <div class="invalid-feedback" th:errors="*{genreId}">
                    Looks bad!
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; Spring Library</span>
    </div>
</footer>

</body>
</html>