<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Add author</title>
</head>
<body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" href="index.html">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}" href="books.html">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/authors}" href="authors.html">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/genres}" href="genres.html">Genres</a>
            </li>
        </ul>
    </div>
</main>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <form method="post" action="#" th:action="@{/authors/add}" th:object="${authorDTO}">
            <h1 class="mt-5">Add new author</h1>
            <p class="lead">Fill author details below:</p>
            <div class="form-group">
                <label for="first-name-input">First name:</label>
                <input id="first-name-input" class="form-control" type="text"
                       placeholder="Input author first name" th:field="*{firstName}"
                       th:classappend="${#fields.hasErrors('firstName')? 'is-invalid' : ''}"/>
                <div class="invalid-feedback" th:errors="*{firstName}">
                    Looks bad!
                </div>
            </div>
            <div class="form-group">
                <label for="last-name-input">Last name:</label>
                <input id="last-name-input" class="form-control" type="text"
                       placeholder="Input author last name" th:field="*{lastName}"
                       th:classappend="${#fields.hasErrors('lastName')? 'is-invalid' : ''}"/>
                <div class="invalid-feedback" th:errors="*{lastName}">
                    Looks bad!
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; Spring Library</span>
    </div>
</footer>

</body>
</html>