<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="../public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>List of all books</title>
</head>
<body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}" href="index.html">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/books}" href="books.html">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/authors}" href="authors.html">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/genres}" href="genres.html">Genres</a>
            </li>
        </ul>
    </div>
</main>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Books</h1>
        <p class="lead">List of all books in the library:</p>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Genres</th>
                <th style="width: 5%">Reviews</th>
                <th style="width: 5%">Edit</th>
                <th style="width: 5%">Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.authors}">Author</td>
                <td th:text="${book.genres}">Genre</td>
                <td>
                    <a th:href="@{/books/reviews(id=${book.id})}" href="reviews.html">
                        <img src="../public/img/baseline-chat-24px.svg" th:src="@{/img/baseline-chat-24px.svg}"
                             alt="Reviews"/>
                    </a>
                </td>
                <td>
                    <a th:href="@{/books/edit(id=${book.id})}" href="edit_book.html">
                        <img src="../public/img/round-edit-24px.svg" th:src="@{/img/round-edit-24px.svg}"
                             alt="Edit book"/>
                    </a>
                </td>
                <td>
                    <a th:href="@{/books/remove(id=${book.id})}" href="remove_book.html">
                        <img src="../public/img/round-delete-24px.svg" th:src="@{/img/round-delete-24px.svg}"
                             alt="Remove book"/></a>
                </td>
            </tr>
            </tbody>
        </table>

        <a th:href="@{/books/add}" href="add_book.html">
            <button type="button" class="btn btn-success">Add book</button>
        </a>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; Spring Library</span>
    </div>
</footer>

</body>
</html>
