<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>

</head>
<body>
<h1>Books:</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Genres</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.authors}">Author</td>
        <td th:text="${book.genres}">Genre</td>
        <td>
            <a th:href="@{/books/remove(id=${book.id})}" href="remove_book.html">Remove book</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/books/add}" href="add_book.html">Add book</a>

</body>
</html>
