<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <title>Spring Library</title>
</head>
<body class="d-flex flex-column h-100">

<main role="main" class="flex-shrink-0">
    <div class="container">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}" href="index.html">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/books}" href="books.html">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/authors}" href="authors.html">Authors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/genres}" href="genres.html">Genres</a>
            </li>
        </ul>
    </div>
</main>

<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Spring Library main page</h1>
        <p class="lead">
            A library is a collection of sources of information and similar resources, made accessible to a defined
            community for reference or borrowing. It provides physical or digital access to material, and may be a
            physical building or room, or a virtual space, or both. A library's collection can include books,
            periodicals, newspapers, manuscripts, films, maps, prints, documents, microform, CDs, cassettes, videotapes,
            DVDs, Blu-ray Discs, e-books, audiobooks, databases, and other formats. Libraries range in size from a few
            shelves of books to several million items. In Latin and Greek, the idea of a bookcase is represented by
            Bibliotheca and Bibliothēkē (Greek: βιβλιοθήκη): derivatives of these mean library in many modern languages,
            e.g. French bibliothèque.
        </p>
    </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; Spring Library</span>
    </div>
</footer>

</body>
</html>